*.class
*.pyc
*.pyo
.project
*/cache/*
wartozwiedzic/cache/*
geocodes/*
log/*
wartozwiedzic/log/*
lib/vendor/symfony
*.class
*.pyc
*.pyo
*.ico
*.tif
*.csv
*.log
web/thumbs/*
web/static/*
web/uploads/*
web/static/*

web/atrakcje/uploads/*
web/atrakcje/static/*
web/atrakcje/thumbs/*
web/przewodnik/wp-content/uploads/*
web/przewodnik/wp-includes/images/*
web/przewodnik/wp-admin/images/*
web/profil/img/*
web/profil/images/*
web/profil/grupa/images/*
web/profil/grupa/assets/*
web/atrakcje/img/*
web/atrakcje/images/*
nclGhouses/images/*

web/profil/uploads/*
web/profil/static/*
web/profil/thumbs/*
Zend
config/databases.yml
config/propel.ini
web/.htaccess
web/log/*
lib/model/om
lib/model/map
lib/model/migration
lib/form/base
lib/filter/base
wartozwiedzic/lib/model/om
wartozwiedzic/lib/model/map
wartozwiedzic/lib/model/migration
wartozwiedzic/lib/form/base
wartozwiedzic/lib/filter/base
itur/lib/model/om
itur/lib/model/map
itur/lib/model/migration
itur/lib/form/base
itur/lib/filter/base
.idea
stats
web/stats
.idea
web/sm_*
web/log/*
/nbproject/private/
/nbproject/*
symfony.bat
cache/*
noclegowo_local.sql
